In [ ]:
import pandas as pd
import numpy as np

## Dataset DE COVARIABLES

Este esta pensado para armar el dataset de control sintetico, pensando logicamente las covariables y decidiendo si optima su incorporacion. recordamos que a diferencia de las redes hay que prestar atencion a la correlacion entre variables

Vamos nombrando cada archivo a continuacion:
* numero de empresas activas por barrio
* consumo de energia por barrio
* % de empleados part time full time por barrio + genero
* empleados en clubes por barrio 
* supervivencia y nacimiento de empresas  -> a 1 a√±o
* consumo de gas
* ingresos por hora en cada barrio 
* ratio de precio de propiedad sobre ingresos por fuente de trabajo
* ingresos por pensiones en cada barrio
* pubs por barrio
* tasa de empreo por grado de calificacion del trabajador en cada barrio
* numero de restaruranes en el barrio 
* share de casas sin trabajo y viceversa 
* migraciones segun zona del mundo al barrio en particular 
* impuestos por banda por barrio 
* numero de electores por barrio
* densidad por barrio
* internal migration 
* internal external outflow borough 
* ofensas policiales por barrio
* nacionalidades por barrio
* religiones por barrio
* poblacion por edad 
* grado de inundacion probable por barrio

In [ ]:
def boroughSetter(df):
  df.reset_index(inplace=True)
  df['Borough'] = df['Borough'].str.replace(' Of ', ' of ')
  df['Borough'] = df['Borough'].str.replace(' Upon ', ' upon ')
  df['Borough'] = df['Borough'].str.replace(' & ', ' and ')
  df['Borough'] = df['Borough'].str.replace('City of Westminster', 'Westminster')
  
  df.set_index(['Borough','Year'],inplace=True)
  return df

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/activenterprisesbyborough.pkl')
df0=df0.transpose().stack('Borough')
df0 = df0.reset_index().rename(columns={'level_0':'Year'})
df0.set_index(['Borough','Year'],inplace=True)
df0=boroughSetter(df0)
#df0=df0.drop(columns={'index'})
df1=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/electricityconsumption1.pkl')
df1=df1.reset_index()
df1.columns = [f'{i} {j}' for i, j in df1.columns]
#df1.columns = df1.columns.map(''.join)
df1 = df1.rename(columns={' Borough':'Borough',' Year':'Year'}).set_index(['Borough','Year'])
df1=boroughSetter(df1)
########## SAQUE LA CONVINACION LINEAL DE DOS COLUMNAS
df1.drop(columns={'All consumers Sales in the year - GWh','All consumers Number of MPANs (thousands)'},inplace=True)
###########
dFull=pd.concat([df0, df1],axis=1)
dFull
#df1

                           Active Enterprises  ...  Sales per consumer Average industrial and commercial consumption kWh
Borough              Year                      ...
Barking and Dagenham 2002              3435.0  ...                                                NaN
                     2003              3470.0  ...                                            80621.4
                     2004              3120.0  ...                                            85014.2
                     2005              3190.0  ...                                            85390.3
                     2006              3280.0  ...                                            88036.1
...                                       ...  ...                                                ...
Westminster          2015             55385.0  ...                                              84911
                     2016             58965.0  ...                                              84911
                     2017             59945.0  ...                                              84911
                     2018             60520.0  ...                                              84911
                     2019             63980.0  ...                                                NaN

[594 rows x 7 columns]

In [ ]:
#verificar los NANS DE ESTE BARRIO PORQUE SIEMPRE TIENE PROBLEMAS DADO QUE ES COMERCIAL SUPONGO 
dFull.loc['City of London']

      Active Enterprises  ...  Sales per consumer Average industrial and commercial consumption kWh
Year                      ...
2002             12715.0  ...                                                NaN
2003             12150.0  ...                                             298519
2004             11980.0  ...                                             296756
2005             11970.0  ...                                             326190
2006             12240.0  ...                                             342209
2007             12615.0  ...                                             324363
2008             13800.0  ...                                             342937
2009             14895.0  ...                                             330176
2010             15830.0  ...                                             359291
2011             16250.0  ...                                             334855
2012             16765.0  ...                                             352342
2013             17775.0  ...                                             352342
2014             19250.0  ...                                             352342
2015             26130.0  ...                                             352342
2016             30210.0  ...                                             352342
2017             32990.0  ...                                             352342
2018             31440.0  ...                                             352342
2019             31550.0  ...                                                NaN

[18 rows x 7 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/employmentbyborough.pkl')
df0 = df0.reset_index().set_index([('Borough','Borough'),('Year','Year')])
df0=df0.reset_index()
df0.columns = [f'{i} {j}' for i, j in df0.columns]
df0 = df0.rename(columns={'Borough Borough':'Borough','Year Year':'Year'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
########### DEJE SOLO LA EXPRESION DE EMPLEADOS POR BARRIOS EN PORCENTAJE Y POR GENERO
#[['% in employment working full-time - working age percent','% in employment working part-time - working age percent']] 
df0 = df0[['% of females in employment rate working part-time - working age percent','% of females in employment rate working full-time - working age percent','% of males in employment rate working part-time - working age percent','% of males in employment rate working full-time - working age percent']]
#tuve qye hacer lo siguiente porque los datos de alli son un desastre
df0.loc['City of London'] = np.NaN
df0.loc['City of London'].isnull()
df0.to_excel('check.xlsx')
######
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  % of males in employment rate working full-time - working age percent
Borough              Year                      ...
Barking and Dagenham 2002              3435.0  ...                                                NaN
                     2003              3470.0  ...                                                NaN
                     2004              3120.0  ...                                               89.6
                     2005              3190.0  ...                                               93.2
                     2006              3280.0  ...                                               94.2
...                                       ...  ...                                                ...
Westminster          2015             55385.0  ...                                               88.5
                     2016             58965.0  ...                                               87.9
                     2017             59945.0  ...                                               89.4
                     2018             60520.0  ...                                               90.1
                     2019             63980.0  ...                                               90.8

[594 rows x 11 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/employmentofclubsbyborough.pkl')
df0=df0.reset_index().set_index(['Borough','Year'])
df0=boroughSetter(df0)

dFull = pd.concat([dFull, df0],axis=1)
dFull 
#cheked

                           Active Enterprises  ...  Employment of Licensed clubs by boroughs
Borough              Year                      ...
Barking and Dagenham 2001                 NaN  ...                                       200
                     2002              3435.0  ...                                       200
                     2003              3470.0  ...                                       300
                     2004              3120.0  ...                                       300
                     2005              3190.0  ...                                       400
...                                       ...  ...                                       ...
Westminster          2015             55385.0  ...                                      3400
                     2016             58965.0  ...                                      3500
                     2017             59945.0  ...                                      3500
                     2018             60520.0  ...                                       NaN
                     2019             63980.0  ...                                       NaN

[627 rows x 12 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/enterprisesurvivorship.pkl')
df0=df0.reset_index().set_index([('','Borough'),('','Year')])
df0.columns = [f'{i} {j}' for i, j in df0.columns]
df0 = df0.reset_index()
df0.columns[0]
df0.rename(columns={"(, Borough)":'Borough'},inplace=True)
df1 = df0.transpose().reset_index() #['index'][0] = 'Borough'
df1['index'][0] = 'Borough'
df1['index'][1] = 'Year'
df1.set_index('index',inplace=True)
df1 = df1.transpose().set_index(['Borough','Year'])
df1 = df1[[' Births','1 Year Survival Numbers','1 Year Survival Per cent']]
df1
#df0 = df0.reset_index().rename(columns={'('', 'Borough')':'Borough','            ('', 'Year')':'Year'})

#df0 = df0[['1 Year Survival']]
#pd.concat([dFull, df1])
#dFull

index                      Births  ... 1 Year Survival Per cent
Borough              Year          ...
City of London       2002    1145  ...                  89.5197
Barking and Dagenham 2002     435  ...                  94.2529
Barnet               2002    2330  ...                  93.7768
Bexley               2002     765  ...                  92.8105
Brent                2002    1635  ...                   93.578
...                           ...  ...                      ...
Sutton               2018    1210  ...                   92.562
Tower Hamlets        2018    3470  ...                  86.4553
Waltham Forest       2018    2360  ...                  91.3136
Wandsworth           2018    2945  ...                  92.0204
Westminster          2018    8975  ...                  76.2117

[561 rows x 3 columns]

In [ ]:
dFull=boroughSetter(dFull)
dFull = numerizeYear(dFull)
dFull

                           Active Enterprises  ...  Employment of Licensed clubs by boroughs
Borough              Year                      ...
Barking and Dagenham 2001                 NaN  ...                                       200
                     2002              3435.0  ...                                       200
                     2003              3470.0  ...                                       300
                     2004              3120.0  ...                                       300
                     2005              3190.0  ...                                       400
...                                       ...  ...                                       ...
Westminster          2015             55385.0  ...                                      3400
                     2016             58965.0  ...                                      3500
                     2017             59945.0  ...                                      3500
                     2018             60520.0  ...                                       NaN
                     2019             63980.0  ...                                       NaN

[627 rows x 12 columns]

In [ ]:
def numerizeYear(df):
  df.reset_index(inplace=True)
  df['Year']=pd.to_numeric(df['Year'])
  df.set_index(['Borough','Year'],inplace=True)
  return df

df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/enterprisesurvivorship.pkl')
#df0=df0.reset_index().set_index([('','Borough'),('','Year')])
df1 = df0.reset_index()[['','1 Year Survival']]
df1.columns = [f'{i} {j}' for i, j in df1.columns]
df1.rename(columns={' Year':'Year',' Borough':'Borough',' Births':'Ent Birth'},inplace=True)
df1.set_index(['Borough','Year'],inplace=True)
#df1
df1=boroughSetter(df1)
df1 = numerizeYear(df1)
dFull = pd.concat([dFull, df1],axis=1)
dFull
#df1.set_index(['Borough','Year'])

                           Active Enterprises  ...  1 Year Survival Per cent
Borough              Year                      ...
Barking and Dagenham 2001                 NaN  ...                       NaN
                     2002              3435.0  ...                 94.252874
                     2003              3470.0  ...                 90.217391
                     2004              3120.0  ...                 95.833333
                     2005              3190.0  ...                 95.000000
...                                       ...  ...                       ...
Westminster          2015             55385.0  ...                 74.724062
                     2016             58965.0  ...                 78.001183
                     2017             59945.0  ...                 78.401464
                     2018             60520.0  ...                 76.211699
                     2019             63980.0  ...                       NaN

[627 rows x 15 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/gasconsumption.pkl')
df0=df0.reset_index()
df0.columns = [f'{i} {j}' for i, j in df0.columns]
df0=df0.rename(columns={' Borough':'Borough',' Year':'Year'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
##### SAQUE LA COMB. LINEAL
df0 = df0.drop(columns={'All consumers Sales in the year - GWh','All consumers Number of consumers (thousands)'})
dFull = pd.concat([dFull, df0],axis=1)
dFull
#####

                           Active Enterprises  ...  Sales per consumer Commercial and industrial - kWh
Borough              Year                      ...
Barking and Dagenham 2001                 NaN  ...                                             538825
                     2002              3435.0  ...                                             463817
                     2003              3470.0  ...                                             538725
                     2004              3120.0  ...                                             981924
                     2005              3190.0  ...                                             461736
...                                       ...  ...                                                ...
Westminster          2015             55385.0  ...                                             513430
                     2016             58965.0  ...                                             514054
                     2017             59945.0  ...                                             352943
                     2018             60520.0  ...                                             537187
                     2019             63980.0  ...                                                NaN

[627 rows x 21 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/hourlyearningsborough.pkl')
df0.loc['City of London']=np.nan
dFull = pd.concat([dFull, df0],axis=1)
dFull
#df0.loc['Westminster']

                           Active Enterprises  ...  total earnings in ¬£ hourly
Barking and Dagenham 2001                 NaN  ...                         NaN
                     2002              3435.0  ...                       10.16
                     2003              3470.0  ...                        9.55
                     2004              3120.0  ...                        9.61
                     2005              3190.0  ...                        9.99
...                                       ...  ...                         ...
Westminster          2016             58965.0  ...                       17.93
                     2017             59945.0  ...                       19.95
                     2018             60520.0  ...                       20.59
                     2019             63980.0  ...                       19.14
                     2020                 NaN  ...                       20.14

[660 rows x 22 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/pebyworkplaceincome.pkl')
df0=df0.transpose().stack('Borough').reset_index().rename(columns={'level_0':'Year'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  PE workplace based
Barking and Dagenham 1997                 NaN  ...                3.02
                     1998                 NaN  ...                2.58
                     1999                 NaN  ...                2.93
                     2000                 NaN  ...                3.32
                     2001                 NaN  ...                3.85
...                                       ...  ...                 ...
Westminster          2016             58965.0  ...               24.50
                     2017             59945.0  ...               24.91
                     2018             60520.0  ...               24.64
                     2019             63980.0  ...               21.75
                     2020                 NaN  ...                 NaN

[792 rows x 23 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/pensionersbyborough.pkl')
df0=df0.transpose().stack('Borough').reset_index().rename(columns={'level_0':'Year'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
dFull=pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  Pension by borough
Barking and Dagenham 1997                 NaN  ...                 NaN
                     1998                 NaN  ...                 NaN
                     1999                 NaN  ...                 NaN
                     2000                 NaN  ...                 NaN
                     2001                 NaN  ...                 NaN
...                                       ...  ...                 ...
Westminster          2016             58965.0  ...             22067.5
                     2017             59945.0  ...             21770.0
                     2018             60520.0  ...             21350.0
                     2019             63980.0  ...                 NaN
                     2020                 NaN  ...                 NaN

[792 rows x 24 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/pubsxborough.pkl')
#df0=boroughSetter(df0)
df0=df0.reset_index().rename(columns={'level_0':'Borough'}).set_index(['Borough','Year'])
df0
df0=boroughSetter(df0)

dFull=pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  Pubs Count
Barking and Dagenham 1997                 NaN  ...         NaN
                     1998                 NaN  ...         NaN
                     1999                 NaN  ...         NaN
                     2000                 NaN  ...         NaN
                     2001                 NaN  ...          45
...                                       ...  ...         ...
Westminster          2016             58965.0  ...         440
                     2017             59945.0  ...         425
                     2018             60520.0  ...         NaN
                     2019             63980.0  ...         NaN
                     2020                 NaN  ...         NaN

[792 rows x 25 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/qualificationsbyborough.pkl')
df0=df0.reset_index()
df0.columns = [f'{i} {j}' for i, j in df0.columns]
df0=df0.rename(columns={' Borough':'Borough','Year Year':'Year'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
### quitamos la separacion por genero y dejamos la columna con las mediciones agregadas en terminos porcentuales 
df0 = df0[['% of economically active with NVQ4+ - working age percent','% of economically active with NVQ3 only - working age percent','% of economically active with Trade Apprenticeships - working age percent','% of economically active with NVQ2 only - working age percent','% of economically active with NVQ1 only - working age percent','% of economically active with no qualifications - working age percent']]
df0.loc['City of London'] = np.nan #otra vez tenia muchos porblemas de nans
df0
####

dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  % of economically active with no qualifications - working age percent
Barking and Dagenham 1997                 NaN  ...                                                NaN
                     1998                 NaN  ...                                                NaN
                     1999                 NaN  ...                                                NaN
                     2000                 NaN  ...                                                NaN
                     2001                 NaN  ...                                                NaN
...                                       ...  ...                                                ...
Westminster          2016             58965.0  ...                                                2.1
                     2017             59945.0  ...                                                1.1
                     2018             60520.0  ...                                                2.9
                     2019             63980.0  ...                                                3.2
                     2020                 NaN  ...                                                NaN

[792 rows x 31 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/restaurantsxborough.pkl')
df0=df0.reset_index().rename(columns={'level_0':'Borough'}).set_index(['Borough','Year'])
df0=boroughSetter(df0)
dFull=pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  Restaurants Count
Barking and Dagenham 1997                 NaN  ...                NaN
                     1998                 NaN  ...                NaN
                     1999                 NaN  ...                NaN
                     2000                 NaN  ...                NaN
                     2001                 NaN  ...                 30
...                                       ...  ...                ...
Westminster          2016             58965.0  ...               1260
                     2017             59945.0  ...               1270
                     2018             60520.0  ...                NaN
                     2019             63980.0  ...                NaN
                     2020                 NaN  ...                NaN

[792 rows x 32 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/worklesshouseholdborough.pkl')
df0=df0.reset_index().set_index(['Borough','Year'])
df0=boroughSetter(df0) #pd.to_numeric(df0['Year'])
####### quitamos las columnas que no tienen sentido porque sale por descarte
df0=df0.reset_index()
df0['Year']=pd.to_numeric(df0['Year'])
df0=df0.set_index(['Borough','Year'])
df1 = df0.transpose().reset_index().drop([2,3])#.rename(columns={'Working Households Thousands': 'mixed Households Thousands'})
df1 = df1.set_index('index').transpose()
df1['Workless Households']['City of London']=np.nan
df1['Workless Households']['Workless Households Per cent']=np.nan
########
dFull=pd.concat([dFull, df1],axis=1)
dFull

                           Active Enterprises  ...  Workless Households Per cent
Barking and Dagenham 1997                 NaN  ...                           NaN
                     1998                 NaN  ...                           NaN
                     1999                 NaN  ...                           NaN
                     2000                 NaN  ...                           NaN
                     2001                 NaN  ...                           NaN
...                                       ...  ...                           ...
Westminster          2016             58965.0  ...                          18.7
                     2017             59945.0  ...                          21.9
                     2018             60520.0  ...                          20.7
                     2019             63980.0  ...                          16.1
                     2020                 NaN  ...                           NaN

[792 rows x 36 columns]

## de los dataset que agus pasaba

In [ ]:
########### le faltan muchisimos datos 
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/cob-borough.pkl')
df0.drop(columns={'Code','Total'},inplace=True)
df0.columns
df0.columns = [f'{i} {j} {h}' for i, j, h in df0.columns]
df0.drop(columns={'Non-European Union All ','Non-European Union Asia All','Non-European Union Rest of the World All'},inplace=True)

dFull=pd.concat([dFull, df0],axis=1)
dFull

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                           Active Enterprises  ...  Non-European Union Rest of the World Oceania
Barking and Dagenham 1997                 NaN  ...                                           NaN
                     1998                 NaN  ...                                           NaN
                     1999                 NaN  ...                                           NaN
                     2000                 NaN  ...                                           NaN
                     2001                 NaN  ...                                           NaN
...                                       ...  ...                                           ...
Westminster          2016             58965.0  ...                                           4.0
                     2017             59945.0  ...                                           2.0
                     2018             60520.0  ...                                           3.0
                     2019             63980.0  ...                                           NaN
                     2020                 NaN  ...                                           NaN

[792 rows x 53 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/council-tax-bands-borough.pkl')
df0.drop(columns={'Code'},inplace=True)
df0
dFull=pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...   Band H
Barking and Dagenham 1997                 NaN  ...      NaN
                     1998                 NaN  ...      NaN
                     1999                 NaN  ...  1476.00
                     2000                 NaN  ...  1568.84
                     2001                 NaN  ...  1696.86
...                                       ...  ...      ...
Westminster          2016             58965.0  ...  1338.14
                     2017             59945.0  ...  1376.28
                     2018             60520.0  ...  1421.00
                     2019             63980.0  ...  1510.92
                     2020                 NaN  ...  1563.98

[792 rows x 61 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/electoral-roll-numbers-borough.pkl')
df0.drop(columns={'Code'},inplace=True)
df0 = boroughSetter(df0)
dFull=pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...   Attainers
Barking and Dagenham 1997                 NaN  ...         NaN
                     1998                 NaN  ...         NaN
                     1999                 NaN  ...         NaN
                     2000                 NaN  ...         NaN
                     2001                 NaN  ...      1657.0
...                                       ...  ...         ...
Westminster          2016             58965.0  ...       569.0
                     2017             59945.0  ...       583.0
                     2018             60520.0  ...       508.0
                     2019             63980.0  ...       622.0
                     2020                 NaN  ...         NaN

[792 rows x 63 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/housing-density-borough.pkl')
df0.drop(columns={'Code','Source'},inplace=True)
df0 = boroughSetter(df0)
df0 = numerizeYear(df0)
boroughs = list(df0.reset_index()['Borough'].unique())
x = df0.loc['Barking and Dagenham'].loc[1999:2020]
x['Borough'] = 'Barking and Dagenham'
for elem in boroughs[1:]: 
  z = df0.loc[elem].loc[1999:2020]
  z['Borough'] = elem
  x = pd.concat([x,z])
x.reset_index(inplace=True)
x.set_index(['Borough','Year'],inplace=True)
x
dFull = pd.concat([dFull, x],axis=1)
dFull

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                           Active Enterprises  ...  Population_per_square_kilometre
Barking and Dagenham 1997                 NaN  ...                              NaN
                     1998                 NaN  ...                              NaN
                     1999                 NaN  ...                           4498.9
                     2000                 NaN  ...                           4539.0
                     2001                 NaN  ...                           4587.8
...                                       ...  ...                              ...
Westminster          2016             58965.0  ...                          11523.9
                     2017             59945.0  ...                          11637.2
                     2018             60520.0  ...                          11838.6
                     2019             63980.0  ...                          12031.1
                     2020                 NaN  ...                          12099.5

[858 rows x 69 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/Internal-migration-flows-age-groups-0to15-2002-2016.pkl')
dFull = pd.concat([dFull, x],axis=1)
dFull

                           Active Enterprises  ...  Population_per_square_kilometre
Barking and Dagenham 1997                 NaN  ...                              NaN
                     1998                 NaN  ...                              NaN
                     1999                 NaN  ...                           4498.9
                     2000                 NaN  ...                           4539.0
                     2001                 NaN  ...                           4587.8
...                                       ...  ...                              ...
Westminster          2016             58965.0  ...                          11523.9
                     2017             59945.0  ...                          11637.2
                     2018             60520.0  ...                          11838.6
                     2019             63980.0  ...                          12031.1
                     2020                 NaN  ...                          12099.5

[858 rows x 75 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/LTIM London LA level 2.pkl')
df0 = df0.drop('interNetflows',axis=1)
df0 = boroughSetter(df0)
df0 = numerizeYear(df0)
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  interOutflows
Barking and Dagenham 1997                 NaN  ...            NaN
                     1998                 NaN  ...            NaN
                     1999                 NaN  ...            NaN
                     2000                 NaN  ...            NaN
                     2001                 NaN  ...            NaN
...                                       ...  ...            ...
Westminster          2016             58965.0  ...         7497.0
                     2017             59945.0  ...         6779.0
                     2018             60520.0  ...         8873.0
                     2019             63980.0  ...            NaN
                     2020                 NaN  ...            NaN

[858 rows x 77 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/met-police-recorded-offences-rates-borough.pkl')
df0 = boroughSetter(df0)
df0 = numerizeYear(df0)
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  Violence Against the Person
Barking and Dagenham 1997                 NaN  ...                          NaN
                     1998                 NaN  ...                          NaN
                     1999                 NaN  ...                    19.760656
                     2000                 NaN  ...                    21.989957
                     2001                 NaN  ...                    23.790551
...                                       ...  ...                          ...
Westminster          2016             58965.0  ...                    39.004257
                     2017             59945.0  ...                          NaN
                     2018             60520.0  ...                          NaN
                     2019             63980.0  ...                          NaN
                     2020                 NaN  ...                          NaN

[858 rows x 88 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/nationality-borough.pkl')
df0.drop(columns={'Code'},inplace=True)
df0.columns = [f'{i} {j} {h}' for i, j, h in df0.columns]

df0.drop(columns = {'Total  ','Non-European Union All ','Non-European Union Asia All','Non-European Union Rest of the World All'} )
df0
dFull = pd.concat([dFull, df0],axis=1)
dFull

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                           Active Enterprises  ...  Non-European Union Rest of the World Oceania
Barking and Dagenham 1997                 NaN  ...                                           NaN
                     1998                 NaN  ...                                           NaN
                     1999                 NaN  ...                                           NaN
                     2000                 NaN  ...                                           NaN
                     2001                 NaN  ...                                           NaN
...                                       ...  ...                                           ...
Westminster          2016             58965.0  ...                                           2.0
                     2017             59945.0  ...                                           1.0
                     2018             60520.0  ...                                           3.0
                     2019             63980.0  ...                                           NaN
                     2020                 NaN  ...                                           NaN

[858 rows x 109 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/population-by-religion-borough.pkl')
df0.drop(columns={'Code'},inplace=True)
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  Percentages__No Religion
Barking and Dagenham 1997                 NaN  ...                       NaN
                     1998                 NaN  ...                       NaN
                     1999                 NaN  ...                       NaN
                     2000                 NaN  ...                       NaN
                     2001                 NaN  ...                       NaN
...                                       ...  ...                       ...
Westminster          2016             58965.0  ...                      29.1
                     2017             59945.0  ...                      28.3
                     2018             60520.0  ...                      34.7
                     2019             63980.0  ...                       NaN
                     2020                 NaN  ...                       NaN

[858 rows x 126 columns]

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/population-estimates-single-year-age.pkl')
df0.drop(columns={'Code','PERSONS'},inplace=True)
df0.columns = [f'{i} {j}' for i, j in df0.columns]
df0.columns
df0.drop(columns={'MALES  ALL AGES','FEMALES  ALL AGES'},inplace=True)
#pd.concat([dFull, df0],axis=1)
df0 = boroughSetter(df0)
df0 = numerizeYear(df0)
dFull = pd.concat([dFull, df0],axis=1)
dFull

                           Active Enterprises  ...  MALES 90+
Barking and Dagenham 1997                 NaN  ...        NaN
                     1998                 NaN  ...        NaN
                     1999                 NaN  ...        NaN
                     2000                 NaN  ...        NaN
                     2001                 NaN  ...      251.0
...                                       ...  ...        ...
Westminster          2016             58965.0  ...        NaN
                     2017             59945.0  ...        NaN
                     2018             60520.0  ...        NaN
                     2019             63980.0  ...        NaN
                     2020                 NaN  ...        NaN

[858 rows x 308 columns]

In [ ]:
df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/inunuk/inunUK.xlsx')
#df0=df0.set_index('Borough')
df0
df0['Year'] = 1997
df1 = df0.copy()
for i in range(1998,2021):
  df2 = df0.copy()
  df2['Year'] = i
  df1 = pd.concat([df1,df2])
df1 = df1.set_index(['Borough','Year'])
df1
df1 = boroughSetter(df1)
df1 = numerizeYear(df1)
  
dFull = pd.concat([dFull, df1],axis=1)
dFull

                           Active Enterprises  ...  98%-100%
Barking and Dagenham 1997                 NaN  ...       0.0
                     1998                 NaN  ...       0.0
                     1999                 NaN  ...       0.0
                     2000                 NaN  ...       0.0
                     2001                 NaN  ...       0.0
...                                       ...  ...       ...
Westminster          2016             58965.0  ...       0.0
                     2017             59945.0  ...       0.0
                     2018             60520.0  ...       0.0
                     2019             63980.0  ...       0.0
                     2020                 NaN  ...       0.0

[858 rows x 319 columns]

In [ ]:
dFull.to_pickle('finalclean1.pkl')
dFull.to_excel('finalclean1.xlsx')

In [ ]:
dFull.to_excel('finalclean2.xlsx')