In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

In [ ]:
def rename_unnamed(df):
    """Rename unamed columns name for Pandas DataFrame

    See https://stackoverflow.com/questions/41221079/rename-multiindex-columns-in-pandas

    Parameters
    ----------
    df : pd.DataFrame object
        Input dataframe

    Returns
    -------
    pd.DataFrame
        Output dataframe

    """
    for i, columns in enumerate(df.columns.levels):
        columns_new = columns.tolist()
        for j, row in enumerate(columns_new):
            if "Unnamed: " in row:
                columns_new[j] = ""
        if pd.__version__ < "0.21.0":  # https://stackoverflow.com/a/48186976/716469
            df.columns.set_levels(columns_new, level=i, inplace=True)
        else:
            df = df.rename(columns=dict(zip(columns.tolist(), columns_new)),
                           level=i)
    return df
def first(year):
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/cob-borough.xls',sheet_name=year,header=[0, 1,2,3])
  df0=df0.rename(columns={'Area Code':'Code','Area Name':'Borough'})
  df0=df0.drop(np.arange(33,54,1))
  df0=df0.drop('CI +/-',axis=1,level=3)
  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  return df3
dfv=first('2004')
acum=dfv.append(first('2005'),ignore_index=True)
for i in np.arange(2006,2019,1):
  dfv=first(str(i))
  acum=acum.append(dfv)
acum.reset_index(inplace=True)
acum=acum.drop('index',axis=1,level=0)
#acum1=acum.set_index(['Borough','Year'],inplace=True)
acum=rename_unnamed(acum)
acum=acum.droplevel(3, axis=1)

#acum.loc[acum['Borough']=='Barnet']
#print(acum.columns.value_counts())
#(Non-European Union, Asia, South East Asia)  
acum = acum.loc[:,~acum.columns.duplicated()]
acum.set_index(['Borough','Year'],inplace=True)
acum.sort_index(inplace=True)
#Barking and Dagenham
#acum.loc[(slice(None),2004),:]
#acum.to_csv('cob-borough.csv')
#acum.to_pickle('cob-borough.pkl')
acum

FileNotFoundError: ignored

In [ ]:
def cambiemos(x):
  return x[0:len(x)-1]
    

def second(year):
  
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/council-tax-bands-borough.xlsx',sheet_name=year)
  df0=df0.rename(columns={'Area':'Borough'})
  df0=df0.drop(0)
  

  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)

  df3['Year']=int(year[0:4])
  df3['Borough'] = df3['Borough'].str.replace('&', 'and')
  df3['Borough'] = df3['Borough'].str.replace('-', ' ')
  return df3
def third(year):
  
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/council-tax-bands-borough.xlsx',sheet_name=year)
  df0=df0.rename(columns={'Local authority':'Borough'})
  df0=df0.drop(0)

  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)

  df3['Year']=int(year[0:4])
  df3['Borough'] = df3['Borough'].str.replace('&', 'and')
  df3['Borough'] = df3['Borough'].str.replace('-', ' ')
  return df3
#creo el coso
dfv1=second('1999-00')
acum1=dfv1.append(second('2000-01'),ignore_index=True)

for i in np.arange(2001,2010,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}-{preparam}'
  
  dfv1=second(param)
  if i>=2001:
    dfv1=dfv1.rename(columns={'Band A ':'Band A','Band B ':'Band B','Band C ':'Band C','Band D ':'Band D','Band E ':'Band E','Band F ':'Band F','Band G ':'Band G','Band H ':'Band H'})

  if i==2002:
    
    
    dfv1['Borough']=dfv1['Borough'].apply(cambiemos)

  acum1=acum1.append(dfv1)
  print(dfv1.size)
  

for i in np.arange(2010,2021,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}-{preparam}'
  
  dfv1=third(param)
  dfv1=dfv1.rename(columns={'Band A ':'Band A','Band B ':'Band B','Band C ':'Band C','Band D ':'Band D','Band E ':'Band E','Band F ':'Band F','Band G ':'Band G','Band H ':'Band H'})
  
  if i==2014:
    dfv1=dfv1.drop(1)

  acum1=acum1.append(dfv1)
  
  
acum1.reset_index(inplace=True)
acum1=acum1.drop('index',axis=1)
acum1.set_index(['Borough','Year'],inplace=True)
acum1.sort_index(inplace=True)

#acum1.to_csv('council-tax-bands-borough.csv')
#acum1.to_pickle('council-tax-bands-borough.pkl')
acum1

FileNotFoundError: ignored

In [ ]:
def fourth(year):
  preparam=int(year)-2000
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)

  if int(year)>=2016:

    name=f'Dec {preparam}'
  else:
    name=f'Dec{preparam}'
  
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/electoral-roll-numbers-borough.xlsx',sheet_name=name,header=[0, 1])
  df0=df0.rename(columns={'Codes':'Code','Area':'Borough'})
  #df0=df0.drop(0)
  df0=df0.drop(np.arange(33,len(df0),1))
  
  if year=='2002':
    df0=df0.drop(f'1st December 2001 ',axis=1,level=1)
  elif year=='2001':
    df0=df0.drop(f'February 2001 1',axis=1,level=1)
  else:
    df0=df0.drop(f'1st December {int(year)-1}',axis=1,level=1)
  
  df1=df0.loc[:,[('Unnamed: 0_level_0','Code'),('Unnamed: 1_level_0','Borough')]]
  df2=df0.drop([('Unnamed: 0_level_0','Code'),('Unnamed: 1_level_0','Borough')],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  df3=df3.rename(columns={'Unnamed: 0_level_0':'Code','Unnamed: 1_level_0':'Borough'})
  df3=df3.droplevel(1, axis=1)

  if int(year)>=2008:
    df3=df3.rename(columns={' Attainers 6':' Attainers'})


  return df3


dfv2=fourth('2001')
acum2=dfv2.append(fourth('2002'),ignore_index=True)

for i in np.arange(2003,2020,1):
  dfv2=fourth(str(i))
  acum2=acum2.append(dfv2)
  
acum2.set_index(['Borough','Year'],inplace=True)
acum2.sort_index(inplace=True)

#acum2.to_csv('electoral-roll-numbers-borough.csv')
#acum2.to_pickle('electoral-roll-numbers-borough.pkl')

FileNotFoundError: ignored

In [ ]:
acum3=pd.read_csv('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/housing-density-borough.csv')
acum3=acum3.rename(columns={'Name':'Borough'})
acum3.set_index(['Borough','Year'],inplace=True)
acum3.sort_index(inplace=True)

#acum3.to_csv('housing-density-borough.csv')
#acum3.to_pickle('housing-density-borough.pkl')

In [ ]:
acum4=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/Internal-migration-flows-age-groups-0to15-2002-2016.xlsx',sheet_name='Flows',usecols=[0,1,2,3,4,5,6,7])
acum4=acum4.drop(0)

acum4=acum4.rename(columns=acum4.iloc[0])
acum4=acum4.drop(1)
acum4=acum4.drop(np.arange(39893,41409,1))
acum4=acum4.rename(columns={'in-la-name':'Borough','year':'Year'})
acum4.set_index(['Borough','Year','out-la-name','age-group'],inplace=True)

acum4=acum4.drop(['in-la','out-la','concatenate'],axis=1)
acum4=acum4.unstack('out-la-name')
acum4.columns = ['__'.join(col).strip() for col in acum4.columns.values]
acum4.reset_index(inplace=True)
acum4.set_index(['Borough','Year'],inplace=True)
#ojo que se repite el indice Year, la idea es que no se repita para poder hacer el join
#acum4.to_csv('Internal-migration-flows-age-groups-0to15-2002-2016.csv')
#acum4.to_pickle('Internal-migration-flows-age-groups-0to15-2002-2016.pkl')

In [ ]:

acum5=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/LTIM London LA level 2.xlsx',sheet_name='Data',skiprows=3,nrows=33)
name={'2003-04':'2003'}
for i in np.arange(2004,2019,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}-{preparam}'
  name[param]=str(i)


acum5=acum5.rename(columns=name)
acum5=acum5.rename(columns={'206-07':'2006'})
acum5=acum5.rename(columns={'206-07':'2006'})
acum5=acum5.set_index('Borough')
acum5=acum5.stack()
acum5=acum5.to_frame()

#acum5=acum5.rename(columns={'':'iternationalInflows'})

acum5.reset_index(inplace=True)
acum5=acum5.rename(columns={'level_1':'Year',  0:'interInflows'})
acum5=acum5.set_index(['Borough','Year'])
#----------------------------------------------------------------------------------------------------------

acum6=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/LTIM London LA level 2.xlsx',sheet_name='Data',skiprows=41,nrows=33)

name={'2003-04':'2003'}
for i in np.arange(2004,2019,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}-{preparam}'
  name[param]=str(i)


acum6=acum6.rename(columns=name)
acum6=acum6.rename(columns={'206-07':'2006'})
acum6=acum6.rename(columns={'206-07':'2006'})
acum6=acum6.set_index('Borough')
acum6=acum6.stack()
acum6=acum6.to_frame()

#acum5=acum5.rename(columns={'':'iternationalInflows'})

acum6.reset_index(inplace=True)
acum6=acum6.rename(columns={'level_1':'Year',  0:'interOutflows'})
acum6=acum6.set_index(['Borough','Year'])
acum7=pd.concat([acum5,acum6],axis=1)
acum7['interNetflows']=acum7['interInflows']-acum7['interOutflows']
acum7
#acum7.to_csv('LTIM London LA level 2.csv')
#acum7.to_pickle('LTIM London LA level 2.pkl')

In [ ]:
acum8=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/met-police-recorded-offences-rates-borough.xlsx',sheet_name='Crime Rates',header=[0,1])
acum8=acum8.drop(np.arange(32,39,1))
acum8=acum8.rename(columns={'Unnamed: 0_level_0':'Code'})
acum8=acum8.drop('Code',axis=1)

acum8=acum8.rename(columns={'Borough':''})
acum8=acum8.rename(columns={'Unnamed: 1_level_0':'Borough'})
#acum8=acum8.set_index('Borough',inplace=True)
name={'1999-00':'1999'}
for i in np.arange(2000,2017,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}-{preparam}'
  name[param]=str(i)
acum8=acum8.rename(columns=name)
acum8=acum8.set_index('Borough')
acum8 = acum8.apply(pd.to_numeric, args=('coerce',))
acum8.reset_index(inplace=True)
acum8=acum8.set_index('Borough')
#acum8=acum8.stack(1,dropna=False)

#acum8.to_csv('medium2.csv')
acum9=pd.read_csv('/content/medium2.csv',header=[0,1])
acum9=acum9.drop(0)
acum9=acum9.rename(columns={'Unnamed: 0_level_0':'Borough','Unnamed: 0_level_1':''})
#acum9=acum9.set_index('Borough',inplace=True)
acum9.reset_index(inplace=True)
acum9=acum9.drop('index',axis=1)
acum9.set_index(['Borough'],inplace=True)
acum9.sort_index(inplace=True)

acum9=acum9.stack()
acum9.reset_index(inplace=True)
acum9=acum9.rename(columns={'level_1':'Year'})
acum9.set_index(['Borough','Year'],inplace=True)


#acum9.to_csv('met-police-recorded-offences-rates-borough.csv')
#acum9.to_pickle('met-police-recorded-offences-rates-borough.pkl')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

In [ ]:
def rename_unnamed(df):
    """Rename unamed columns name for Pandas DataFrame

    See https://stackoverflow.com/questions/41221079/rename-multiindex-columns-in-pandas

    Parameters
    ----------
    df : pd.DataFrame object
        Input dataframe

    Returns
    -------
    pd.DataFrame
        Output dataframe

    """
    for i, columns in enumerate(df.columns.levels):
        columns_new = columns.tolist()
        for j, row in enumerate(columns_new):
            if "Unnamed: " in row:
                columns_new[j] = ""
        if pd.__version__ < "0.21.0":  # https://stackoverflow.com/a/48186976/716469
            df.columns.set_levels(columns_new, level=i, inplace=True)
        else:
            df = df.rename(columns=dict(zip(columns.tolist(), columns_new)),
                           level=i)
    return df

def sixth(year):
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/nationality-borough.xls',sheet_name=year,header=[0, 1,2,3])
  df0=df0.rename(columns={'Area Code':'Code','Area Name':'Borough'})
  df0=df0.drop(np.arange(33,54,1))
  df0=df0.drop('CI +/-',axis=1,level=3)
  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  return df3
dfv=sixth('2004')
acum=dfv.append(sixth('2005'),ignore_index=True)
for i in np.arange(2006,2019,1):
  dfv=sixth(str(i))
  acum=acum.append(dfv)
acum.reset_index(inplace=True)
acum=acum.drop('index',axis=1,level=0)
#acum1=acum.set_index(['Borough','Year'],inplace=True)
acum=rename_unnamed(acum)
acum=acum.droplevel(3, axis=1)

#acum.loc[acum['Borough']=='Barnet']
#print(acum.columns.value_counts())
#(Non-European Union, Asia, South East Asia)  
acum = acum.loc[:,~acum.columns.duplicated()]
acum.set_index(['Borough','Year'],inplace=True)
acum.sort_index(inplace=True)
#Barking and Dagenham
#acum.loc[(slice(None),2004),:]
acum.to_csv('nationality-borough.csv')
acum.to_pickle('nationality-borough.pkl')
acum

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

                                Code  Total  ...        Non-European Union
                                             ...         Rest of the World
                                             ... Central and South America Oceania
Borough              Year                    ...
Barking and Dagenham 2004  E09000002  165.0  ...                       1.0     NaN
                     2005  E09000002  165.0  ...                       1.0     NaN
                     2006  E09000002  166.0  ...                       1.0     NaN
                     2007  E09000002  168.0  ...                       1.0     NaN
                     2008  E09000002  171.0  ...                       2.0     NaN
...                              ...    ...  ...                       ...     ...
Westminster          2014  E09000033  232.0  ...                       3.0     3.0
                     2015  E09000033  243.0  ...                       3.0     4.0
                     2016  E09000033  251.0  ...                       3.0     2.0
                     2017  E09000033  255.0  ...                       1.0     1.0
                     2018  E09000033  251.0  ...                       4.0     3.0

[495 rows x 22 columns]

In [ ]:
def sixth(year):
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/nationality-borough.xls',sheet_name=year,header=[0, 1,2,3])
  df0=df0.rename(columns={'Area Code':'Code','Area Name':'Borough'})
  df0=df0.drop(np.arange(33,54,1))
  df0=df0.drop('CI +/-',axis=1,level=3)
  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  return df3

dfv=sixth('2004')
acumulado=dfv.append(sixth('2005'),ignore_index=True)
#acumulado=acumulado.set_index(['Borough','Year'],inplace=True)
acumulado

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

                 Code               Borough  ... Non-European Union  Year
   Unnamed: 0_level_1    Unnamed: 1_level_1  ...  Rest of the World
   Unnamed: 0_level_2    Unnamed: 1_level_2  ...            Oceania
   Unnamed: 0_level_3    Unnamed: 1_level_3  ...           estimate
0           E09000001        City of London  ...                NaN  2004
1           E09000002  Barking and Dagenham  ...                NaN  2004
2           E09000003                Barnet  ...                3.0  2004
3           E09000004                Bexley  ...                NaN  2004
4           E09000005                 Brent  ...                6.0  2004
..                ...                   ...  ...                ...   ...
61          E09000029                Sutton  ...                NaN  2005
62          E09000030         Tower Hamlets  ...                3.0  2005
63          E09000031        Waltham Forest  ...                NaN  2005
64          E09000032            Wandsworth  ...               10.0  2005
65          E09000033           Westminster  ...                7.0  2005

[66 rows x 25 columns]

In [ ]:
def seventh(year):
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/population-by-religion-borough.xls',sheet_name=year,header=[0, 1])
  df0=df0.rename(columns={'Area name':'Borough'})
  df0=df0.drop('Confidence Interval (95%) +/-',axis=1,level=0)
  df0=df0.drop('Total.1',axis=1,level=1)
  df0 = df0.iloc[:, :-1]
  df0.columns = ['__'.join(col).strip() for col in df0.columns.values]
  df0=df0.rename(columns={'__Code':'Code','__Borough':'Borough'})
  if year=='2017' or year=='2018':
    df0=df0.rename(columns={'Unnamed: 0_level_0__Code':'Code','Unnamed: 1_level_0__Borough':'Borough'})
    

  df0=df0.drop(np.arange(33,47,1))
  

  
  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  return df3

dfv1=seventh('2004')

dfv1=dfv1.rename(columns={'Numbers__Budhist':'Numbers__Buddhist','Percentages__Budhist':'Percentages__Buddhist'})
acum1=dfv1.append(seventh('2005'),ignore_index=True)
for i in np.arange(2006,2019,1):

  
  dfv1=seventh(str(i))
  acum1=acum1.append(dfv1)
  
acum1.reset_index(inplace=True)
acum1=acum1.drop('index',axis=1)



 
#acum1 = acum1.loc[:,~acum1.columns.duplicated()]
acum1.set_index(['Borough','Year'],inplace=True)
acum1.sort_index(inplace=True)

#acum1.to_csv('population-by-religion-borough.csv')
#acum1.to_pickle('population-by-religion-borough.pkl')
acum1

                                Code  ...  Percentages__No Religion
Borough              Year             ...
Barking and Dagenham 2004  E09000002  ...                      11.6
                     2005  E09000002  ...                      15.0
                     2006  E09000002  ...                      17.1
                     2007  E09000002  ...                      14.6
                     2008  E09000002  ...                      18.2
...                              ...  ...                       ...
Westminster          2014  E09000033  ...                      31.1
                     2015  E09000033  ...                      24.0
                     2016  E09000033  ...                      29.1
                     2017  E09000033  ...                      28.3
                     2018  E09000033  ...                      34.7

[495 rows x 18 columns]

In [ ]:
def eight(year):
  df0=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/population-estimates-single-year-age.xls',sheet_name=year,header=[0, 1])
  df0=df0.rename(columns={'Code':'','Area':''})
  df0=df0.rename(columns={'Unnamed: 0_level_0':'Code','Unnamed: 1_level_0':'Borough'})
  df0=df0.rename(columns={'   MALES':'MALES',' FEMALES':'FEMALES'})
  try:
    df0=df0.drop(['85+.1','85+.2','85+.3','85+.4','85+.5'],axis=1,level=1)
  except:
    pass


  for i in np.arange(0,90,1):
    df0.loc[:,('PERSONS',i)]=df0.loc[:,('MALES',i)]+df0.loc[:,('FEMALES',i)]
    

  df0.loc[:,('PERSONS','90+')]=df0.loc[:,('MALES','90+')]+df0.loc[:,('FEMALES','90+')]
  
    

    

  df0=df0.drop(np.arange(33,55,1))
  df0.sort_index(axis=1,inplace=True)
  df1=df0[['Code','Borough']]
  df2=df0.drop(['Code','Borough'],axis=1)
  df2 = df2.apply(pd.to_numeric, args=('coerce',))
  df3=pd.concat([df1,df2],axis=1)
  df3['Year']=int(year)
  return df3


dfv2=eight('2001')


acum2=dfv2.append(eight('2002'),ignore_index=True)
for i in np.arange(2003,2016,1):

  print(i)
  dfv2=eight(str(i))
  acum2=acum2.append(dfv2)
  
acum2.reset_index(inplace=True)
acum2=acum2.drop('index',axis=1)



 
#acum1 = acum1.loc[:,~acum1.columns.duplicated()]
acum2.set_index(['Borough','Year'],inplace=True)
acum2.sort_index(inplace=True)

#acum2.to_csv('population-estimates-single-year-age.csv')
#acum2.to_pickle('population-estimates-single-year-age.pkl')
print(acum2.columns.values)
acum2

2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

[('Code', '') ('FEMALES', 0) ('FEMALES', 1) ('FEMALES', 2) ('FEMALES', 3)
 ('FEMALES', 4) ('FEMALES', 5) ('FEMALES', 6) ('FEMALES', 7)
 ('FEMALES', 8) ('FEMALES', 9) ('FEMALES', 10) ('FEMALES', 11)
 ('FEMALES', 12) ('FEMALES', 13) ('FEMALES', 14) ('FEMALES', 15)
 ('FEMALES', 16) ('FEMALES', 17) ('FEMALES', 18) ('FEMALES', 19)
 ('FEMALES', 20) ('FEMALES', 21) ('FEMALES', 22) ('FEMALES', 23)
 ('FEMALES', 24) ('FEMALES', 25) ('FEMALES', 26) ('FEMALES', 27)
 ('FEMALES', 28) ('FEMALES', 29) ('FEMALES', 30) ('FEMALES', 31)
 ('FEMALES', 32) ('FEMALES', 33) ('FEMALES', 34) ('FEMALES', 35)
 ('FEMALES', 36) ('FEMALES', 37) ('FEMALES', 38) ('FEMALES', 39)
 ('FEMALES', 40) ('FEMALES', 41) ('FEMALES', 42) ('FEMALES', 43)
 ('FEMALES', 44) ('FEMALES', 45) ('FEMALES', 46) ('FEMALES', 47)
 ('FEMALES', 48) ('FEMALES', 49) ('FEMALES', 50) ('FEMALES', 51)
 ('FEMALES', 52) ('FEMALES', 53) ('FEMALES', 54) ('FEMALES', 55)
 ('FEMALES', 56) ('FEMALES', 57) ('FEMALES', 58) ('FEMALES', 59)
 ('FEMALES', 60) ('FEMALES', 61) ('FEMALES', 62) ('FEMALES', 63)
 ('FEMALES', 64) ('FEMALES', 65) ('FEMALES', 66) ('FEMALES', 67)
 ('FEMALES', 68) ('FEMALES', 69) ('FEMALES', 70) ('FEMALES', 71)
 ('FEMALES', 72) ('FEMALES', 73) ('FEMALES', 74) ('FEMALES', 75)
 ('FEMALES', 76) ('FEMALES', 77) ('FEMALES', 78) ('FEMALES', 79)
 ('FEMALES', 80) ('FEMALES', 81) ('FEMALES', 82) ('FEMALES', 83)
 ('FEMALES', 84) ('FEMALES', 85) ('FEMALES', 86) ('FEMALES', 87)
 ('FEMALES', 88) ('FEMALES', 89) ('FEMALES', ' ALL AGES')
 ('FEMALES', '90+') ('MALES', 0) ('MALES', 1) ('MALES', 2) ('MALES', 3)
 ('MALES', 4) ('MALES', 5) ('MALES', 6) ('MALES', 7) ('MALES', 8)
 ('MALES', 9) ('MALES', 10) ('MALES', 11) ('MALES', 12) ('MALES', 13)
 ('MALES', 14) ('MALES', 15) ('MALES', 16) ('MALES', 17) ('MALES', 18)
 ('MALES', 19) ('MALES', 20) ('MALES', 21) ('MALES', 22) ('MALES', 23)
 ('MALES', 24) ('MALES', 25) ('MALES', 26) ('MALES', 27) ('MALES', 28)
 ('MALES', 29) ('MALES', 30) ('MALES', 31) ('MALES', 32) ('MALES', 33)
 ('MALES', 34) ('MALES', 35) ('MALES', 36) ('MALES', 37) ('MALES', 38)
 ('MALES', 39) ('MALES', 40) ('MALES', 41) ('MALES', 42) ('MALES', 43)
 ('MALES', 44) ('MALES', 45) ('MALES', 46) ('MALES', 47) ('MALES', 48)
 ('MALES', 49) ('MALES', 50) ('MALES', 51) ('MALES', 52) ('MALES', 53)
 ('MALES', 54) ('MALES', 55) ('MALES', 56) ('MALES', 57) ('MALES', 58)
 ('MALES', 59) ('MALES', 60) ('MALES', 61) ('MALES', 62) ('MALES', 63)
 ('MALES', 64) ('MALES', 65) ('MALES', 66) ('MALES', 67) ('MALES', 68)
 ('MALES', 69) ('MALES', 70) ('MALES', 71) ('MALES', 72) ('MALES', 73)
 ('MALES', 74) ('MALES', 75) ('MALES', 76) ('MALES', 77) ('MALES', 78)
 ('MALES', 79) ('MALES', 80) ('MALES', 81) ('MALES', 82) ('MALES', 83)
 ('MALES', 84) ('MALES', 85) ('MALES', 86) ('MALES', 87) ('MALES', 88)
 ('MALES', 89) ('MALES', ' ALL AGES') ('MALES', '90+') ('PERSONS', 0)
 ('PERSONS', 1) ('PERSONS', 2) ('PERSONS', 3) ('PERSONS', 4)
 ('PERSONS', 5) ('PERSONS', 6) ('PERSONS', 7) ('PERSONS', 8)
 ('PERSONS', 9) ('PERSONS', 10) ('PERSONS', 11) ('PERSONS', 12)
 ('PERSONS', 13) ('PERSONS', 14) ('PERSONS', 15) ('PERSONS', 16)
 ('PERSONS', 17) ('PERSONS', 18) ('PERSONS', 19) ('PERSONS', 20)
 ('PERSONS', 21) ('PERSONS', 22) ('PERSONS', 23) ('PERSONS', 24)
 ('PERSONS', 25) ('PERSONS', 26) ('PERSONS', 27) ('PERSONS', 28)
 ('PERSONS', 29) ('PERSONS', 30) ('PERSONS', 31) ('PERSONS', 32)
 ('PERSONS', 33) ('PERSONS', 34) ('PERSONS', 35) ('PERSONS', 36)
 ('PERSONS', 37) ('PERSONS', 38) ('PERSONS', 39) ('PERSONS', 40)
 ('PERSONS', 41) ('PERSONS', 42) ('PERSONS', 43) ('PERSONS', 44)
 ('PERSONS', 45) ('PERSONS', 46) ('PERSONS', 47) ('PERSONS', 48)
 ('PERSONS', 49) ('PERSONS', 50) ('PERSONS', 51) ('PERSONS', 52)
 ('PERSONS', 53) ('PERSONS', 54) ('PERSONS', 55) ('PERSONS', 56)
 ('PERSONS', 57) ('PERSONS', 58) ('PERSONS', 59) ('PERSONS', 60)
 ('PERSONS', 61) ('PERSONS', 62) ('PERSONS', 63) ('PERSONS', 64)
 ('PERSONS', 65) ('PERSONS', 66) ('PERSONS', 67) ('PERSONS', 68)
 ('PERSONS', 69) ('PERSONS', 70) ('PERSONS', 71) ('PERSONS', 72)
 ('PERSONS', 73) ('PERSONS', 74) ('PERSONS', 75) ('PERSONS', 76)
 ('PERSONS', 77) ('PERSONS', 78) ('PERSONS', 79) ('PERSONS', 80)
 ('PERSONS', 81) ('PERSONS', 82) ('PERSONS', 83) ('PERSONS', 84)
 ('PERSONS', 85) ('PERSONS', 86) ('PERSONS', 87) ('PERSONS', 88)
 ('PERSONS', 89) ('PERSONS', ' ALL AGES') ('PERSONS', '90+')]

                                Code FEMALES          ... PERSONS
                                           0       1  ...      89  ALL AGES     90+
Borough              Year                             ...
Barking and Dagenham 2001  E09000002  1085.0  1200.0  ...   254.0  165654.0   948.0
                     2002  E09000002  1267.0  1149.0  ...   281.0  166357.0   948.0
                     2003  E09000002  1203.0  1272.0  ...   286.0  166210.0   946.0
                     2004  E09000002  1301.0  1205.0  ...   268.0  165610.0   956.0
                     2005  E09000002  1395.0  1324.0  ...   234.0  166275.0   979.0
...                              ...     ...     ...  ...     ...       ...     ...
Westminster          2011  E09000033  1368.0  1343.0  ...   310.0  219582.0  1088.0
                     2012  E09000033  1487.0  1360.0  ...   314.0  223858.0  1140.0
                     2013  E09000033  1325.0  1464.0  ...   287.0  226841.0  1234.0
                     2014  E09000033  1227.0  1343.0  ...   339.0  233292.0  1314.0
                     2015  E09000033  1300.0  1276.0  ...   340.0  242299.0  1313.0

[495 rows x 277 columns]

In [ ]:
ulti=pd.read_excel('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/pre/statutory-homelessness-borough 2017-18 revised.xls',sheet_name='trend data',header=[0,1])
ulti=ulti.drop(np.arange(33,36,1))
ulti=ulti.rename(columns={'Area name':'','Current ONS code':''})
ulti=ulti.rename(columns={'Unnamed: 1_level_0':'Borough','Unnamed: 0_level_0':'Code'})
ulti=ulti.drop('Code',axis=1)
name={'2004/05':'2004'}
for i in np.arange(2005,2018,1):
  preparam=i-1999
  if len(f'{preparam}')==1:
    preparam=f'0{preparam}'
  else:
    preparam=str(preparam)
  param=f'{i}/{preparam}'
  name[param]=str(i)
ulti=ulti.rename(columns=name)
ulti.set_index('Borough',inplace=True)
ulti=ulti.stack()
ulti.reset_index(inplace=True)
#ulti.drop('index',axis=1)
ulti=ulti.rename(columns={'level_1':'Year'})
ulti.set_index(['Borough','Year'],inplace=True)

#ulti.to_csv('statutory-homelessness-borough 2017-18 revised.csv')
#ulti.to_pickle('statutory-homelessness-borough 2017-18 revised.pkl')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

In [ ]:
df=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/Internal-migration-flows-age-groups-0to15-2002-2016.pkl')
df

                           age-group  ... flow__Westminster
Borough              Year             ...
Barking and Dagenham 2002    Age 0-3  ...            7.3207
                     2002  Age 11-15  ...            1.2786
                     2002   Age 4-10  ...            7.6716
                     2003    Age 0-3  ...            6.8388
                     2003  Age 11-15  ...             6.457
...                              ...  ...               ...
Westminster          2015  Age 11-15  ...               NaN
                     2015   Age 4-10  ...               NaN
                     2016    Age 0-3  ...               NaN
                     2016  Age 11-15  ...               NaN
                     2016   Age 4-10  ...               NaN

[1485 rows x 34 columns]